<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <display-name>Archetype Created Web Application</display-name>

    <welcome-file-list>
        <welcome-file>home</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!--Servlets-->
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>ru.handbook.servlets.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>ru.handbook.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticsServlet</servlet-name>
        <servlet-class>ru.handbook.servlets.StatisticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactsServlet</servlet-name>
        <servlet-class>ru.handbook.servlets.ContactsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupsServlet</servlet-name>
        <servlet-class>ru.handbook.servlets.GroupsServlet</servlet-class>
    </servlet>

    <!--Contacts Servlets-->
    <servlet>
        <servlet-name>CCreateServlet</servlet-name>
        <servlet-class>ru.handbook.servlets.cactions.CCreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CSearchServlet</servlet-name>
        <servlet-class>ru.handbook.servlets.cactions.CSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CUpdateServlet</servlet-name>
        <servlet-class>ru.handbook.servlets.cactions.CUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CDeleteServlet</servlet-name>
        <servlet-class>ru.handbook.servlets.cactions.CDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddInGroupServlet</servlet-name>
        <servlet-class>ru.handbook.servlets.cactions.AddInGroupServlet</servlet-class>
    </servlet>
    <!--Groups Servlets-->
    <servlet>
        <servlet-name>GCreateServlet</servlet-name>
        <servlet-class>ru.handbook.servlets.gactions.GCreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GSearchServlet</servlet-name>
        <servlet-class>ru.handbook.servlets.gactions.GSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GUpdateServlet</servlet-name>
        <servlet-class>ru.handbook.servlets.gactions.GUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GDeleteServlet</servlet-name>
        <servlet-class>ru.handbook.servlets.gactions.GDeleteServlet</servlet-class>
    </servlet>

    <!--Servlet mapping-->
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticsServlet</servlet-name>
        <url-pattern>/statistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactsServlet</servlet-name>
        <url-pattern>/contacts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupsServlet</servlet-name>
        <url-pattern>/groups</url-pattern>
    </servlet-mapping>

    <!--Contact Servlet mapping-->
    <servlet-mapping>
        <servlet-name>CCreateServlet</servlet-name>
        <url-pattern>/contacts/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CSearchServlet</servlet-name>
        <url-pattern>/contacts/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CUpdateServlet</servlet-name>
        <url-pattern>/contacts/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CDeleteServlet</servlet-name>
        <url-pattern>/contacts/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddInGroupServlet</servlet-name>
        <url-pattern>/contacts/add</url-pattern>
    </servlet-mapping>

    <!--Group Servlet mapping-->
    <servlet-mapping>
        <servlet-name>GCreateServlet</servlet-name>
        <url-pattern>/groups/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GSearchServlet</servlet-name>
        <url-pattern>/groups/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GUpdateServlet</servlet-name>
        <url-pattern>/groups/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GDeleteServlet</servlet-name>
        <url-pattern>/groups/delete</url-pattern>
    </servlet-mapping>

</web-app>